@import '../../../styles.scss';

.login-wrapper {
    background-image: url('../../../assets/login-background2.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    mat-card {
        margin: 0 auto;
        height: fit-content;
        width: 550px;

        mat-card-header {
            justify-content: center;
            margin-bottom: 12px;

            mat-card-title {
                color: $dark-grey;
                font-family: $font;
                font-size: 2rem;
                font-weight: 700;
            }
        }

        mat-card-content {
            justify-content: center;
            

            .form-container {
                display: flex;
                flex-direction: column;
                input {
                    color: $dark-grey;
                    font-family: $font;
                    font-size: 1rem;
                }
            }


            .action-container {
                margin-top: 8px;
                display: flex;
                flex-direction: column;
                align-items: center;

                button {
                    background-color: $blue-grey;
                    color: $light-grey;
                    font-family: $font;
                    font-size: 1rem;
                    width: 100px;


                    &:disabled {
                        opacity: 0.65;
                        cursor: not-allowed;
                    }
                    
                    &.registerBtn {
                        background-color: white;
                        color: $blue-grey;
                        font-family: $font;
                        font-size: 1rem;
                        width: 100px;
                        margin-top: 8px;
                        &:hover {
                            background-color: $light-grey;
                        }
                    }
                    &:hover {
                        background-color: $dark-grey;
                    }
                }            

            }
        }
    }

    /*******************************
  
        MOBILE VIEW STYLES
  
    ********************************/

    @media only screen and (max-width: 767px) and (orientation: portrait) {

        mat-card {
            width: 90%;

            mat-card-content {

                .action-container {
                   // align-items: center;
                }
            }
            
        }
    }

    @media only screen and (max-width: 767px) and (orientation: landscape) {
        
        mat-card {
            width: 90%;
            height: 90%;
            overflow: auto;
            mat-card-content {

                .action-container {
                    flex-direction: row;
                    justify-content: space-around;
                    //align-items: center;
                }
            }
            
        }
    }

    @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    

    }

    @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    

    }
}