@import '../../../styles.scss';

.login-wrapper {
    background-image: url('../../../assets/login-background2.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    mat-card {
        margin: 0 auto;
        height: 280px;
        width: 315px;

        mat-card-header {
            justify-content: center;
            margin-bottom: 12px;

            mat-card-title {
                color: $dark-grey;
                font-family: $font;
                font-size: 2rem;
                font-weight: 700;
            }
        }

        mat-card-content {
            justify-content: center;
            

            .form-container {
                display: flex;
                flex-direction: column;
                input {
                    color: $dark-grey;
                    font-family: $font;
                    font-size: 1rem;
                }
            }


            .action-container {
                margin-top: 8px;
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                button {
                    background-color: $blue-grey;
                    color: $light-grey;
                    font-family: $font;
                    font-size: 1rem;
                    width: 100px;


                    &:disabled {
                        opacity: 0.65;
                        cursor: not-allowed;
                    }
                    
                    &.registerBtn {
                        background-color: transparent;
                        color: $blue-grey;
                        font-family: $font;
                        font-size: 1rem;
                        width: 100px;
                        margin-top: 8px;
                        &:hover {
                            background-color: $light-grey;
                        }
                    }
                    &:hover {
                        background-color: $dark-grey;
                    }
                }            

            }
        }
    }
}