<div class="register-wrapper">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Registration</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form #registerForm="ngForm" class="form-container">
        <mat-form-field appearance="fill">
          <input
            matInput
            type="text"
            placeholder="First Name"
            name="firstName"
            [(ngModel)]="user.firstName"
            required/>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <input
            matInput
            type="text"
            placeholder="Last Name "
            name="lastName"
            [(ngModel)]="user.lastName"
            required/>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <input
            matInput
            type="text"
            placeholder="Username"
            name="username"
            [(ngModel)]="user.username"
            required/>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <input
            matInput
            type="password"
            placeholder="Password"
            name="password"
            [(ngModel)]="user.password"
            required/>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <input
            matInput
            type="email"
            placeholder="Email"
            name="email"
            pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" 
            [(ngModel)]="user.email"
            
            required/>
        </mat-form-field>
      </form>

      <div class="action-container">
        <button
          mat-button
          class="registerBtn"
          type="button"
          [disabled]="!registerForm.valid"
          (click)="onRegister()"
        >
          Register
        </button>
        <button mat-flat-button type="button" 
        class="loginBtn"
        (click)="onNavigateToLogin()">
          Login
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
