@import "../../../styles.scss";

.register-wrapper {
  background-image: url("../../../assets/login-background2.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  app-notifications {
    position:absolute;
    right: 0;
    top: 0;
  }

  mat-card {
    height: fit-content;
    width: 550px;

    mat-card-header {
      justify-content: center;

      mat-card-title {
        color: $dark-grey;
        font-family: $font;
        font-size: 2rem;
        font-weight: 700;
      }
    }

    mat-card-content {
      justify-content: center;

      .form-container {
        display: flex;
        justify-content: center;
        flex-flow: wrap;
        padding-left: 8px;
        padding-right: 8px;
        input {
          color: $dark-grey;
          font-family: $font;
          font-size: 1rem;
        }

        mat-form-field {
          margin-right: 32px; 
        }
      }

      .action-container {
        display: flex;
        justify-content: center;
        padding-right: 8px;
        button {
          background-color: $blue-grey;
          color: $light-grey;
          font-family: $font;
          font-size: 120%;

          &:disabled {
            opacity: 0.65;
            cursor: not-allowed;
          }

          &:hover {
            background-color: $dark-grey;
          }
          &.loginBtn {
            background-color: white;
            color: $blue-grey;
            font-family: $font;
            font-size: 1rem;
            width: 100px;
            margin-left: 8px;
            &:hover {
              background-color: $light-grey;
            }
          }
        }
      }
    }
  }


    /*******************************
  
      MOBILE VIEW STYLES
  
    ********************************/

    @media only screen and (max-width: 767px) and (orientation: portrait) {

      mat-card {
        width: 80%;
          mat-card-content {
            .form-container {
              justify-content: center;
              ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
                background-color: #e5e6e6ed;
              }

              ::ng-deep .mat-form-field-infix {
                font-weight: bold;
              }
            }
            .action-container {
              justify-content: center;
            }
          } 
      }
  }

  @media only screen and (max-width: 767px) and (orientation: landscape) {
      
      mat-card {
        width: 90%;
        height: 90%;
        overflow: scroll;
          mat-card-content {
            .form-container {
              justify-content: center;
              mat-form-field {
                margin-right: 16px; 
                margin-left: 8px;
              }
              ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
                height: 35px;
                padding: 0.3em;
                background: #e5e6e6ed;
              }

              ::ng-deep .mat-form-field-infix {
                font-weight: bold;
              }
              ::ng-deep .mat-form-field-wrapper {
                padding-bottom: 0.5em;
              }
              ::ng-deep .mat-form-field-underline {
                bottom: unset;
              }
            }

            .action-container {
              margin-top: 8px;
              justify-content: center;
            }
          }
          
      }
  }

  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  

  }

  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  

  }

}
