<div class="profile-wrapper">
   <mat-card class="profile-card">
    <mat-card-header>
      <mat-card-title>{{ currUser?.firstName}} {{currUser?.lastName}}</mat-card-title>
      <div class="circle-container">
        <div class="user-avatar">{{currUser?.firstName | slice:0:1 | titlecase}}{{currUser?.lastName | slice:0:1 | titlecase}}</div>
      </div>
    </mat-card-header>
    <mat-card-content>
        <div class="user-details">
            <div class="labels">
                <h4 class="username-label">Username:</h4>
                <h4 class="email-label">Email:</h4>
                <h4 class="password-label">Password:</h4>
            </div>
            <div class="static-details" *ngIf="!isUpdatingUser">
                <h4 class="username">{{currUser?.username}}</h4>
                <h4 class="email">{{currUser?.email}}</h4>
                <h4 class="password">********</h4>
            </div> 
            <div class="update-container" *ngIf="isUpdatingUser"> 
                <form [formGroup]="profileForm">
                    <mat-form-field appearance="standard">
                        <mat-label>{{username}}</mat-label>
                        <input matInput formControlName="username" readonly>
                        </mat-form-field>
                    <mat-form-field appearance="standard">
                        <mat-label>{{email}}</mat-label>
                        <input matInput  formControlName="email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" readonly >
                        </mat-form-field>
                    <mat-form-field appearance="standard">
                        <mat-label>Update Password</mat-label>
                        <input matInput formControlName="password" placeholder="**********" required >
                        </mat-form-field>
                </form>
            </div>
        </div> 
        <div class="action-container">
            <button mat-raised-button class="update" *ngIf="!isUpdatingUser" (click)="onUserUpdate('update')">Update</button>
            <button mat-raised-button class="delete" *ngIf="!isUpdatingUser" (click)="onUserUpdate('delete')" >Delete</button>
            <button mat-raised-button class="confirm" *ngIf="isUpdatingUser" [disabled]="!profileForm.valid" (click)="onUserUpdate('confirm')">Confirm</button>
            <button mat-raised-button class="cancel" *ngIf="isUpdatingUser" (click)="onUserUpdate('cancel')">Cancel</button>
        </div>
      
    </mat-card-content>
  </mat-card>
</div>