<div class="wrapper">
  <mat-radio-group name="menuDisplay" ngModel #menuDisplay="ngModel" (ngModelChange)="onSelectionChange($event)">
    <mat-label>
      <mat-radio-button checked class="grid-radio" value="grid">
        <img width="40" src="../../../assets/grid-icon.png">
      </mat-radio-button>
      </mat-label>
      <mat-label>
        <mat-radio-button class="list-radio" value="list">
          <img width="40" src="../../../assets/list-icon.png">
        </mat-radio-button>
      </mat-label>
  </mat-radio-group>
  <app-grid-overview *ngIf="viewSelection=='grid'" [browsingImgs]="browsingImg"></app-grid-overview>
  <app-list-overview *ngIf="viewSelection=='list'" [browsingImgs]="browsingImg"></app-list-overview>
</div>
