<div class="wrapper">
  <mat-grid-list cols="3" rowHeight="1:1">
    <mat-grid-tile *ngFor="let item of browsingImg" class="tile" (click)="onShowDetails(item)">
      <div class="img-container">
        <img [src]="item.imgSrc" [alt]="item.title" />
      </div>
      <br />
      <div class="name">
        <h3>{{ item.title }}</h3>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="details-overlay" *ngIf="showDetails">
    <app-item-details
      *ngIf="showDetails"
      [dish]="selectedDish"
      (closeDetails)="onCloseDetails()"></app-item-details>
  </div>
</div>
