@import '../styles.scss';

.content-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .main-header {
        background: $toolbar;
        z-index: 2; // Aids in creating an overlapping effect with the box-shaddow below
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    
        .menu-btn {
            background: $toolbar;
            color: white;
        }
    
        .sub-header {
            display: flex;
            flex-direction: row;
            align-items: center; 
            justify-content: center;
            width: 100%;
            height: 100%;
            .logo {
                background-image: url("../../src/assets/food-bowl.png");
                background-size: cover;
                background-color: $toolbar;
                //mix-blend-mode: multiply; // removes checkered backgound on png
                filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(
                    93deg) brightness(103%) contrast(103%); // tunrs the bowl white (matching the menu)
                border-radius: 36px;
                width: 60px;
                height: 60px;
                margin-right: 16px;
                transform: translateY(-2px);
                cursor: pointer;
            }

            h1 {
                color: $light-grey;
                font-family: 'Montserrat Subrayada', sans-serif;
                font-size: 3.5rem;
                margin: 0;
                margin-right: 16px;
            }
        }
    }
    
    mat-sidenav-container {
        flex: 1;

        ::ng-deep mat-sidenav {
            width: 175px;
        }
    
        mat-sidenav {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            background: $blue-grey;
    

            a {
                border-radius: 0;
                text-decoration: none;
                padding: 2em 1em;
                width: inherit;
    
                .nav-item {
                    color: $light-grey;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 1.5rem;
                    font-weight: bold;
                    margin: 0 auto;
                }
            }
    
            a:hover {
                background-color: $dark-grey;
            }

        }

    }

    /*******************************
  
        MOBILE VIEW STYLES
  
    ********************************/

    @media only screen and (max-width: 767px) and (orientation: portrait) {

        .main-header {
            .sub-header {
                justify-content: flex-end;
                h1 {
                    display: none;
                }

                .logo {
                    margin: 0px;
                }
            }
        }

        mat-sidenav-container {

            mat-sidenav {
                    
                a {
                    .nav-item {
                        font-size: 2.5rem !important;
                    }
                    
                    &#close {
                        // position the close button at the bottom of portrait device menu
                        position: absolute ;
                        bottom: 0px;
                        left: 0;
                    }
                }
            }
    
            ::ng-deep mat-sidenav {
                width: 100%;
            }

            ::ng-deep app-browse {
                width: 100%;
                height: 100%;
            }

        }
        

    }
    
    @media only screen and (max-width: 767px) and (orientation: landscape) {
        .main-header {
            .sub-header {
                justify-content: flex-end;
                h1 {
                    display: none;
                    // font-size: 2.5rem;
                }

                .logo {
                    margin: 0px;
                }
            }
        }    

    }

    @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    

    }

    @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    

    }
    

}


