@import '../styles.scss';

.content-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .main-header {
        background: $toolbar;
    
        .menu-btn {
            background: $toolbar;
            color: white;
        }
    
        .sub-header {
            display: flex;
            flex-direction: row;
            align-items: center; 
            justify-content: center;
            width: 100%;
            height: 100%;
            .logo {
                background-image: url("../../src/assets/food-bowl.png");
                background-size: cover;
                mix-blend-mode: multiply; // removes checkered backgound on png
                background-color: $toolbar;
                width: 60px;
                height: 60px;
                margin-right: 16px;
                transform: translateY(-8px);
                cursor: pointer;
            }

            h1 {
                color: $light-grey;
                font-family: 'Montserrat Subrayada', sans-serif;
                font-size: 3.5rem;
                margin: 0;
                margin-right: 16px;
            }
        }
    }
    
    mat-sidenav-container {
        flex: 1;

        ::ng-deep mat-sidenav {
            width: 175px;
        }
    
        mat-sidenav {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            background: $blue-grey;
    

            a {
                border-radius: 0;
                text-decoration: none;
                padding: 15% 1em;
                width: inherit;
    
                .nav-item {
                    color: $light-grey;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 160%;
                    font-weight: bold;
                    margin: 0 auto;
                }
            }
    
            a:hover {
                background-color: $dark-grey;
            }

        }

    }

    /*******************************
  
        MOBILE VIEW STYLES
  
    ********************************/
    
    @media only screen and (max-width: 767px) and (orientation: portrait) {
    

    }
    
    @media only screen and (max-width: 767px) and (orientation: landscape) {
    

    }

    @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    

    }

    @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    

    }
    

}


