/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";

/**  CSS VARIABLES  */
$blue-grey: mat-color($mat-blue-grey, 700);
$dark-grey: mat-color($mat-grey, 900);
$light-grey: mat-color($mat-grey, 200);
$browse-color: #d1b483;
$toolbar: mat-color($mat-blue-grey, 900);
$font: "Montserrat", sans-serif;
$text-shadow: #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px,
  #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px,
  #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px,
  #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;

*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
  width: 100%;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-card {
  background-color: #d5d6d7;
}

.material-icons {
  font-size: 3.0rem;
  color: $light-grey;
}