/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';

/**  CSS VARIABLES  */
$blue-grey: mat-color($mat-blue-grey, 700);
$dark-grey: mat-color($mat-grey, 900);
$light-grey: mat-color($mat-grey, 200);
$toolbar: mat-color($mat-blue-grey, 900);
$font: 'Montserrat', sans-serif;


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
